.home {
  padding-top: 100px;
}

.pages {
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;

  a {
    margin-bottom: 10px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 4px;
      background: $link-color;
      transition: width 0.3s;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  height: 50vh;
  font-size: 1.2em;
  text-align: center;
  color: $header-desc-text-color;
  background: $header-desc-background-color no-repeat;
  background-size: cover;
  /* --- Responsive --- */
  @media screen and (max-width: 850px) {}
  //For white images
  a,
  h1,
  h2,
  h3,
  h4,
  h5,
  li,
  p {
    @extend .header-txt-shadow;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#main {
  background-position: 100% 0, 0 center, center top;
}
// Post listing

.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;

  .card {
    color: $text-color;
    box-sizing: border-box;
    overflow: hidden;
    border: 5px solid #666;
    border-radius: 25px;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
      box-shadow: 0 28px 56px rgba(0,0,0,0.35), 0 20px 20px rgba(0,0,0,0.28);
    }

    h2 {
      color: #666;
    }

    .card-info {
      padding: 1vh 1vh 1vh 2vh;
    }

    button {
      color: $link-color;
      margin-left: 2vh;
      margin-bottom: 3vh;
      background-color: transparent;

      &:hover {
        background-color: $link-color;
        color: white;
      }
    }

    p a {
      @extend .body-link;
    }

    .post-img {
      vertical-align: middle;
      background-position: top center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 50vh;
      @media (min-width: $break) {}
      //Smaller screen
      @media screen and (max-width: $break) {}
    }
  }

  .excerpt {
    margin-top: 1em;
  }
}
// Pagination

.pagination {
  padding: $padding-small $padding-large 0;
  text-align: center;
  @media (max-width: 600px) {
    padding: $padding-small;
  }

  .button {
    margin: 0 1.5em;

    i {
      vertical-align: middle;
    }
  }
}
/* ---- Responsive ---- */
@media (min-width: $break) {
  .posts {
    width: 80vw;
  }

  .card {
    width: 30vw;
  }

  .button {
    width: 30%;
  }
}
@media screen and (max-width: $break) {
  .card {
    width: 80vw;
  }

  .button {
    width: 50%;
  }
}
@media screen and (max-width: $md-break) {
  .card {
    width: 70vw;
  }

  .button {
    width: 45%;
  }
}
